@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
}

@media (max-width: 1024px) {
  h1 {
    font-size: 1.5em;
  }
}

@media (min-width: 1024px) {
  a {
    font-size: 1.4em;
  }
  p {
    font-size: 1.5em;
  }
  h1 {
    font-size: 2.25em;
  }
  h2 {
    font-size: 2em;
  }
  li {
    font-size: 1.5em;
  }
}
